{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Create | Edit Category {% endblock title %} {% block content %}

  <p>
    <a class="btn btn-default" href="{% url 'myblog_category_list' %}">Category Listing</a
    >
  </p>
  <form method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>

{% endblock %}
