{% extends "_base.html" %}
{% load static %}

{% block title %}
    Category Details
{% endblock title %}
    
{% block content %}
    <p><a class="btn btn-default" href="{% url 'myblog_category_list' %}">Category Listing</a></p>
    <div class="main_blog_details">
        <h4>{{ object.name }}</h4>
    <a class="btn btn-primary" href="{{object.get_update_url}}">Edit Category</a>
    </div>
{% endblock %}
