{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Create | Edit Post {% endblock title %} {% block content %}

  <p>
    <a class="btn btn-default" href="{% url 'myblog_post_list' %}"
      >Post Listing</a
    >
  </p>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | crispy }}
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>

{% endblock %}

{% block tags %}
<h4 class="title">Post Tags</h4>
<ul>
    {% for tag in post_tags %}
    <li><a href="#">{{tag.name}}</a></li>
    {% endfor %}
</ul>
{% endblock %}