{% extends "_base.html" %}
{% load static %}

{% block title %}
{{ object.title }}
{% endblock title %}

{% block content %}
<p><a class="btn btn-default" href="{% url 'myblog_post_list' %}">Post Listing</a></p>
<div class="main_blog_details">
    <img class="img-fluid" src="{{ object.image.url}}" alt="" style="width:650px; height:341px">
    <h4>{{ object.title }}</h4>
    <div class="user_details">
        <div class="float-left">
            <a href="#">{{ object.category }}</a>
        </div>
        <div class="float-right">
            <div class="media">
                <div class="media-body">
                    <h5>{{ object.added_by}}</h5>
                    <p>{{ object.created}}</p>
                </div>
                <div class="d-flex">
                    <img src="{{ object.added_by.avatar.url}}" alt="" style="width:40px; height:40px;">
                </div>
            </div>
        </div>
    </div>
    {{ object.body |safe }}
    <div class="news_d_footer">
        <!-- Your like button code -->
        <div class="fb-like" data-href="/myblog/post/detail/{{ object.slug}} " data-width="" data-layout="standard"
             data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
        <div class="news_socail ml-auto">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
            <a href="#"><i class="fa fa-rss"></i></a>
        </div>
    </div>
</div>
<div class="comments-area">
    <div class="comment-list">
        <div class="fb-comments" data-href="http://127.0.0.1:8000/myblog/post/detail/{{ object.slug}}"
             data-width="" data-numposts="1"></div>
    </div>
</div>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Post</a>
{% endblock %}

{% block tags %}
<h4 class="title">Post Tags</h4>
<ul>
    {% for tag in post_tags %}
    <li><a href="#">{{tag.name}}</a></li>
    {% endfor %}
</ul>
{% endblock %}