{% extends "_base.html" %}
{% load static %} {% load crispy_forms_tags %}
{% block title %} Post Listing {% endblock title %} {% block content %}
  <p>
    <a class="btn btn-default" href="{% url 'myblog_post_list' %}"
      >Post Listing</a
    >
  </p>
  <table class="table">
    <tr>
      <td>ID</td>
      <td>Link</td>
      <td>slug</td>
      <td>created</td>
      <td>last_updated</td>
    </tr>
    {% for object in object_list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>
        <a href="{{ object.get_absolute_url }}">{{ object }}</a>
      </td>
      <td>{{ object.slug }}</td>
      <td>{{ object.created }}</td>
      <td>{{ object.last_updated }}</td>
    </tr>
    {% endfor %}
  </table>

  <a class="btn btn-primary" href="{% url 'myblog_post_create' %}"
    >Create new Post</a
  >
{% endblock %}
