{% extends "_base.html" %}
{% load static %} {% load crispy_forms_tags %}
{% block title %} Tag Listing {% endblock title %} {% block content %}
  <p>
    <a class="btn btn-default" href="{% url 'myblog_tag_list' %}">Tag Listing</a>
  </p>
  <table class="table">
    <tr>
      <td>ID</td>
      <td>Link</td>
      <td>created</td>
      <td>last_updated</td>
    </tr>
    {% for object in object_list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>
        <a href="{{ object.get_absolute_url }}">{{ object }}</a>
      </td>
      <td>{{ object.created }}</td>
      <td>{{ object.last_updated }}</td>
    </tr>
    {% endfor %}
  </table>

  <a class="btn btn-primary" href="{% url 'myblog_tag_create' %}">Create new Tag</a>
{% endblock %}
