{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->


    <title>{% block title %}Home{% endblock title %}</title>


    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500|Rubik:500" rel="stylesheet">
    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
<!--================ Start header Top Area =================-->
<section class="header-top">
    <div class="container box_1170">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="{% url 'home' %}" class="logo">
                    <img src="/static/img/mylogo.png" alt="" style="width:115px;height:49px;">
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 search-trigger">
                <a href="#" class="search">
                    <i class="lnr lnr-magnifier" id="search"></i></a>
                </a>
            </div>
        </div>
    </div>
</section>
<!--================ End header top Area =================-->

<!-- Start header Area -->
<header id="header">
    <div class="container box_1170 main-menu">
        <div class="row align-items-center justify-content-center d-flex">
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="{% url 'home' %}">Home</a></li>
                    <li class="menu-has-children"><a href="#">Categories</a>
                        <ul>
                            <li><a href="{% url 'myblog_category_create' %}">Create Category</a></li>
                            {% for category in categories %}
                            <li><a href="#">{{ category.name }} (15)</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="archive.html">Archive</a></li>
                    <li class="menu-has-children"><a href="#">Tags</a>
                        <ul>
                            <li><a href="{% url 'myblog_tag_create' %}">Create Tag</a></li>
                            {% for tag in tags %}
                            <li><a href="#">{{ tag.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="menu-has-children">
                        <a href="">Blog</a>
                        <ul>
                            <li><a href="{% url 'myblog_post_create' %}">Create Post</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                    {% if user.is_authenticated %}

                    <li class="menu-has-children">
                        <a href="#">Welcome, {{ user}}</a>
                        <ul>
                            <li><a href="{% url 'profile' user.id%}">Profile</a></li>
                            <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
                            <li><a href="{% url 'account_logout' %}">Log out</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="{% url 'account_login' %}">Log In</a></li>
                    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

    <div class="search_input" id="search_input_box">
        <div class="container box_1170">
            <form class="d-flex justify-content-between">
                <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                <button type="submit" class="btn"></button>
                <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
            </form>
        </div>
    </div>
</header>
<!-- End header Area -->

<!-- Top Stories Area -->
<section class="top-stories-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-carousel active-stories-carousel">
                    <!-- single stories carousel -->
                    {% for post in posts %}
                    <div class="single-stories-carousel d-flex align-items-center">
                        <div class="stories-thumb">
                            <img class="img-fluid" src="{{ post.image.url }}" alt="" style="width:100px; height:80px; " >
                        </div>
                        <div class="stories-details">
                            <h6><a href="{% url 'myblog_post_detail' post.slug%}">{{ post.title }}</a></h6>
                            <p>{{ post.created }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Stories Area -->

<!-- Start Post Silder Area -->
<section class="post-slider-area">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="owl-carousel active-post-carusel">
                    <!-- single carousel item -->
                    {% for post in posts %}
                        {% if post.featured %}
                            <div class="single-post-carousel">
                        <div class="post-thumb">
                            <img class="img-fluid" src="{{ post.image.url }}" alt="" style="width:640px; height:630px;">
                        </div>
                        <div class="post-details">
                            <h2><a href="{% url 'myblog_post_detail' post.slug %}">{{ post.title }}</a></h2>
                            <div class="post-content d-flex justify-content-between">
                                <div class="post-meta">
                                    <div class="thumb"><img src="{{ post.added_by.avatar.url }}" alt="" style="width:50px; height:50px;"></div>
                                    <div class="c-desc">
                                        <h6>{{ post.added_by }}</h6>
                                        <p><span class="lnr lnr-calendar-full"></span>{{ post.created }}</p>
                                    </div>
                                </div>
                                <div class="details">
                                    <p>{{ post.summary }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start Post Silder Area -->

<!-- Start main body Area -->
<div class="main-body section-gap">
    <div class="container box_1170">
        <div class="row">
            <div class="col-lg-8 post-list">
                {% block content %}
                <!-- Start Post Area -->
                <section class="post-area">
                    <div class="row">
                        {% if posts.count > 0 %}
                        {% for post in posts %}
                        <div class="col-lg-6 col-md-6">
                            <div class="single-post-item">
                                <div class="post-thumb">
                                    <img class="img-fluid" src="{{ post.image.url }}" alt=""
                                         style="width:340px; height:500px">
                                </div>
                                <div class="post-details">
                                    <h4><a href="{% url 'myblog_post_detail' post.slug%}">{{ post.title }}</a></h4>
                                    <p>{{ post.summary }}</p>
                                    <div class="blog-meta">
                                        <a href="#" class="m-gap"><span class="lnr lnr-calendar-full"></span>{{post.created}}</a>
                                        <a href="#" class="m-gap"><span class="lnr lnr-bubble"></span>05</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {%else %}
                        <h3 class="text-center">There are currently no Posts</h3>
                        {%endif %}
                        <div class="col-lg-12">
                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a href="#" class="page-link" aria-label="Previous">
												<span aria-hidden="true">
													<span class="lnr lnr-arrow-left"></span>
												</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a href="#" class="page-link">01</a></li>
                                    <li class="page-item active"><a href="#" class="page-link">02</a></li>
                                    <li class="page-item"><a href="#" class="page-link">03</a></li>
                                    <li class="page-item"><a href="#" class="page-link">04</a></li>
                                    <li class="page-item"><a href="#" class="page-link">09</a></li>
                                    <li class="page-item">
                                        <a href="#" class="page-link" aria-label="Next">
												<span aria-hidden="true">
													<span class="lnr lnr-arrow-right"></span>
												</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </section>
                <!-- Start Post Area -->
                {% endblock %}
            </div>


            <div class="col-lg-4 sidebar">
                <div class="single-widget protfolio-widget">
                    <img class="img-fluid" src="{% static 'img/blog/user2.png' %}" alt="">
                    <a href="#">
                        <h4>Peter Anderson</h4>
                    </a>
                    <p class="p-text">
                        Boot camps have its supporters andit sdetractors. Some people do not understand why you should
                        have to spend
                        money on boot camp whenyou can get. Boot camps have itssuppor ters andits detractors.
                    </p>
                    <ul class="social-links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                    <img src="{% static 'img/sign.png' %}" alt="">
                </div>

                <div class="single-widget popular-posts-widget">
                    <div class="jq-tab-wrapper" id="horizontalTab">
                        <div class="jq-tab-menu">
                            <div class="jq-tab-title active" data-tab="1">Popular</div>
                            <div class="jq-tab-title" data-tab="2">Latest</div>
                        </div>
                        <div class="jq-tab-content-wrapper">
                            <div class="jq-tab-content active" data-tab="1">
                                <div class="single-popular-post d-flex flex-row">
                                    <div class="popular-thumb">
                                        <img class="img-fluid" src="{% static 'img/posts/carousel/stories1.jpg' %}"
                                             alt="">
                                    </div>
                                    <div class="popular-details">
                                        <h6><a href="">2nd Gen Smoke Alarm <br>
                                            get up from sleep</a></h6>
                                        <p>September 14, 2018</p>
                                    </div>
                                </div>
                                <div class="single-popular-post d-flex flex-row">
                                    <div class="popular-thumb">
                                        <img class="img-fluid" src="{% static 'img/posts/carousel/stories2.jpg' %}"
                                             alt="">
                                    </div>
                                    <div class="popular-details">
                                        <h6><a href="">2nd Gen Smoke Alarm <br>
                                            get up from sleep</a></h6>
                                        <p>September 14, 2018</p>
                                    </div>
                                </div>
                                <div class="single-popular-post d-flex flex-row">
                                    <div class="popular-thumb">
                                        <img class="img-fluid" src="{% static 'img/posts/carousel/stories3.jpg' %}"
                                             alt="">
                                    </div>
                                    <div class="popular-details">
                                        <h6><a href="">2nd Gen Smoke Alarm <br>
                                            get up from sleep</a></h6>
                                        <p>September 14, 2018</p>
                                    </div>
                                </div>
                                <div class="single-popular-post d-flex flex-row">
                                    <div class="popular-thumb">
                                        <img class="img-fluid" src="{% static 'img/posts/carousel/stories4.jpg' %}"
                                             alt="">
                                    </div>
                                    <div class="popular-details">
                                        <h6><a href="">2nd Gen Smoke Alarm <br>
                                            get up from sleep</a></h6>
                                        <p>September 14, 2018</p>
                                    </div>
                                </div>
                            </div>

                            <div class="jq-tab-content active" data-tab="2">

                                <div class="single-popular-post d-flex flex-row">
                                    <div class="popular-thumb">
                                        <img class="img-fluid" src="{% static 'img/posts/carousel/stories2.jpg' %}"
                                             alt="">
                                    </div>
                                    <div class="popular-details">
                                        <h6><a href="">2nd Gen Smoke Alarm <br>
                                            get up from sleep</a></h6>
                                        <p>September 14, 2018</p>
                                    </div>
                                </div>
                                <div class="single-popular-post d-flex flex-row">
                                    <div class="popular-thumb">
                                        <img class="img-fluid" src="{% static 'img/posts/carousel/stories3.jpg' %}"
                                             alt="">
                                    </div>
                                    <div class="popular-details">
                                        <h6><a href="">2nd Gen Smoke Alarm <br>
                                            get up from sleep</a></h6>
                                        <p>September 14, 2018</p>
                                    </div>
                                </div>
                                <div class="single-popular-post d-flex flex-row">
                                    <div class="popular-thumb">
                                        <img class="img-fluid" src="{% static 'img/posts/carousel/stories1.jpg' %}"
                                             alt="">
                                    </div>
                                    <div class="popular-details">
                                        <h6><a href="">2nd Gen Smoke Alarm <br>
                                            get up from sleep</a></h6>
                                        <p>September 14, 2018</p>
                                    </div>
                                </div>
                                <div class="single-popular-post d-flex flex-row">
                                    <div class="popular-thumb">
                                        <img class="img-fluid" src="{% static 'img/posts/carousel/stories4.jpg' %}"
                                             alt="">
                                    </div>
                                    <div class="popular-details">
                                        <h6><a href="">2nd Gen Smoke Alarm <br>
                                            get up from sleep</a></h6>
                                        <p>September 14, 2018</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-widget category-widget">
                    <h4 class="title">Categories</h4>
                    <ul>
                        {% for category in categories %}
                        <li>
                            <a href="#" class="justify-content-between align-items-center d-flex">
                                <p><img src="{% static 'img/bullet.png' %}" alt="">{{ category.name }} (15)</p>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="single-widget tags-widget">
                    {% block tags %}
                    <h4 class="title">Tags</h4>
                    <ul>
                        {% for tag in tags %}
                        <li><a href="#">{{tag.name}}</a></li>
                        {% endfor %}
                    </ul>
                    {% endblock %}
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Start main body Area -->

<!-- start footer Area -->
<footer class="footer-area section-gap">
    <div class="container box_1170">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="footer_title">About Us</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore dolore
                        magna aliqua.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="footer_title">Newsletter</h6>
                    <p>Stay updated with our latest trends</p>
                    <div id="mc_embed_signup">
                        <form target="_blank"
                              action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                              method="get" class="subscribe_form relative">
                            <div class="input-group d-flex flex-row">
                                <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'Email Address '"
                                       required="" type="email">
                                <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>
                            </div>
                            <div class="mt-10 info"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget instafeed">
                    <h6 class="footer_title">Instagram Feed</h6>
                    <ul class="list instafeed d-flex flex-wrap">
                        <li><img src="{% static 'img/i1.jpg' %}" alt=""></li>
                        <li><img src="{% static 'img/i2.jpg' %}" alt=""></li>
                        <li><img src="{% static 'img/i3.jpg' %}" alt=""></li>
                        <li><img src="{% static 'img/i4.jpg' %}" alt=""></li>
                        <li><img src="{% static 'img/i5.jpg' %}" alt=""></li>
                        <li><img src="{% static 'img/i6.jpg' %}" alt=""></li>
                        <li><img src="{% static 'img/i7.jpg' %}" alt=""></li>
                        <li><img src="{% static 'img/i8.jpg' %}" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget f_social_wd">
                    <h6 class="footer_title">Follow Us</h6>
                    <p>Let us be social</p>
                    <div class="f_social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-12 footer-text text-center">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                    href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
    </div>
</footer>
<!-- End footer Area -->

<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="{% static 'js/easing.min.js' %}"></script>
<script src="{% static 'js/hoverIntent.js' %}"></script>
<script src="{% static 'js/superfish.min.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.tabs.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
<!-- Load Facebook SDK for JavaScript -->
        <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

        </script>

<script>
$(document).ready(function(){

})
    CKEDITOR.replace( 'body' );

</script>
</body>

</html>