{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Create | Update Profile {% endblock title %} {% block content %}
<h3>Update Profile</h3>
  <form method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | crispy }}
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>

{% endblock %}
